           body,ul,p,h2{
            margin: 0;
            padding: 0;
          }
        .clearfix::after {
        content: '';
        display: block;
        clear: both;
      }
      a:hover, a:visited,a:active,  a:link{
        text-decoration:none;
      }
      ul {
          list-style: none;
        }
        .float_l{
          float: left;
        }
        .float_r{
          float: right;
        }
        .position_r{
          position: relative;
        }
        .position_a{
          position: absolute;
        }
        #box{
          width: 1920px;
          margin: 0 auto;
        }
        #box2,#box3,#top .top1{
          width: 1226px;
          height: 100%;
          margin: 0 auto;
        }
         .top1{
          width: 1226px;
          height: 100%;
          margin: 0 auto;
          z-index: 11;
        }
        #box #top{
          width: 100%;
          height: 40px !important;
          background: #000;
        }
        .left{
          width: 900px;
          height: 40px;
          display: inline-block;
        }
        #top .left a,li,span{
          float: left;
          text-align: center;
          font-size: 12px;
          line-height: 40px;
          color: #A8A8A8;
          margin-left: 2px;
        }
        #top .left span,#top .right span{
          margin:0 8px;
          color: #424242;
        }
        .right{
          width: 303px;
          height: 45px;
          float: right;
        }
        #top .left .act,#top .left li a:hover,#top .right .act,#top .right li a:hover{
          color: #FFF;
        }
        #top .right a{
         text-align: center;
         font-size: 12px;
         line-height: 40px;
         color: #A8A8A8;
        }
        #top .right,#top .right span{
          float: right;
        }
        #top .right .buy{
          width: 120px;
          height: 40px;
          background: #424242;
          margin-left: 25px;

        }
        #top .right .buy span{
          float: left;
          position: relative;
          top: 14px;
          left: 12px;
          color: #8F8F8F;
        }
        #box2{
          width: 1226px;
          height: 100%;
          margin: 0 auto;
        }
        #Nav{
          width: 1226px;
          height: 79px;
          margin-top: 22px;
        }
        .navul{
          width: 600px;
          height: 79px;
          display: inline-block;
        }
        .navul li{
          height: 79px;
        }
         #Nav img{
          float: left;
          margin-right: 189px;
         }
         #Nav li a{
         font-size: 16px;
         color: #333;
         line-height: 55px;
         text-align: center;
         margin-right: 20px;
         }
         #Nav .ss{
          width: 294px;
          height: 55px;
          border:1px solid  #E0E0E0 ;
          float: right;
         }
         #Nav .ss li{
          width: 49px;
          height: 18px;
          background:#E0E0E0 ;
          color: #333;
          line-height: 18px;
          text-align: center;
         }
         #Nav .ss ul{
          margin-top: 15px;
          margin-left: 130px;
          margin-right: 10px;
         }
         #Nav .ss span{
          display: inline-block;
          width: 50px;
          height: 48px;
          border-left:1px solid  #E0E0E0 ;
          float: right;
          position: relative;
          top: -16px;
          line-height: 48px;
         }
         #banner{
          width: 100%;
          height: 460px;
          background: url('images/banner3.jpg')no-repeat;
         }
         #banner .left{
          padding: 20px 0;
          width: 234px;
          height: 100%;
          background: #333;
          background: rgba(0,0,0,0.6)
         }
         #banner .left li{
          width: 100%;
          height: 42px;
          padding-left: 30px;

         }
          #banner .left a{
            font-size: 14px;
            line-height: 42px;
            float: left;
            color: #FFF;
          }
          #banner .left span{
            padding-right: 24px;
            float: right;
            line-height: 42px;
            text-align: center;
          }
          #banner .left .act:hover{
            background: #FF6700;
          }
          #content{
            height: 823px;
          }
          #content .content1{
            width: 100%;
            height: 170px;
            margin-top: 14px;
          }
          #content .content1 .con1{
            width: 234px;
            height: 100%;
            background: #5F5750;
          }
          .con1 a{
            display: inline-block;
            width: 75px;
            height: 76px;
          }
          #content .content1 .con2{
            width: 316px;
            height: 100%;
            background: #FF7471;
            position: relative;
          }
          #content .content1 .con3{
            width: 316px;
            height: 100%;
            background: #9AC269;
            position: relative;
          }
          #content .content1 .con4{
            width: 316px;
            height: 100%;
            background: #438AE6;
            position: relative;
          }
          #content .content1 .con1,.con2,.con3{
            margin-right: 14px;
          }
          #content .content1 .con1 span{
            display: block;
            width: 76px;
            height: 76px;
            text-align: center;
            margin-top: 10px;
          }
          #content .content1 .con1 span p{
            font-size: 12px;
            line-height: 12px;
          }
          .con1 a:hover span{
            color: #FFF;
          }
          .con1 p:nth-of-type(1),
          .con2 p:nth-of-type(1),
          .con3 p:nth-of-type(1),
          .con4 p:nth-of-type(1){
            font-size: 14px;
            line-height: 24px;
            font-weight: bold;
          }
          .content1 p{
            text-align: center;
          }
           .con2 div,.con3 div,.con4 div{
            position: absolute;
            bottom: 0;
            left: 50%;
           }
           .content1 img{
            margin-left: -50%;
           }
           .content1 a{
            color: #FFF;
           }
           .con,.con2,.con3,.con4{
            padding-top: 20px;
           }
           .xmsg{
            margin-top: 44px;
           }
           .sg1{
            height: 46px;
           }
            .sg2{
            height: 338px;
           }
           .sg1 h2{
            float: left;
            font-size: 33px;
            font-weight:bold
           }
           .sg1 p{
            float: right;
            margin-top: 6px;
           }
           .sg1 p span{
            border: 1px solid #CCC;
            padding:5px 14px ;
           }
           .sg2 dt{
            width: 234px;
            height: 339px;
            text-align: center;
            background: #F1EDED;
            border-top: 1px solid #E53934;
            float: left;
           }
           .sg2 dd{
            width: 234px;
            height: 339px;
            text-align: center;
            background:#FAFAFA;
            float: left;
            margin-left: 14px;
           }
           .sg2-1{
            font-size: 16px;
            color: #EF3A3B ;
            margin-top: 62px;
           }
           .sg2-2{
            font-weight: normal;
            font-size: 14px;
            margin-bottom: 33px;
           }
           .sg2-3 {
            height: 40px;
            width: 180px;
            margin: 0 auto;
           }
           .sg2-3 span{
            font-size: 18px;
            text-align: center;
           }
           .sg2-3 .time{
            width: 46px;
            height: 46px;
            background: #605751;
            line-height: 46px;
           }
           .sg2-3 .point{
            margin: 0 6px;
           }
           .sg2 a{
            color: #333;
           }
           .sg2 dt img{
            margin-top: 33px;
            margin-bottom: 36px;
           }
           .sg2 dd strong{
            display: inline-block;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 10px;
           }
            .sg2 dd img{
              margin-bottom: 46px;
              margin-top: 47px;
            }
            .sg2 dd del{
              color: #B0B0B0;
            }
             .sg2 dd .ddd {
              color: #FF6700;
              margin-top: 18px;
             }
             .content2{
              width: 100%;
              height: 120px;
              background: #E8E9ED;
              float: left;
              margin: 42px 0;
              position: relative;
             }
             .content2 img{
              position: absolute;
              bottom: 0;
              right: 298px;
             }
             .content2 div{
              position: absolute;
              left: 248px;
              font-family: ΢????
             }
             .content2 .p1{
              line-height: 40px;
              font-weight: bold;
              font-size: 28px;
              color: #333;
              margin-top: 34px;
             }
             .content2 .p2{
              color: #86878B;
              font-size: 14px;
             }
            #box3{
                      width: 100%;
                      background: #F5F5F5;
                      margin: 0 auto;
                    }
                    #box31{
                      width: 1226px;
                      margin: 0 auto;
                    }
                    .phone{
                      width: 100%;
                      padding-top: 40px;
                    }
             .phone h2{
              display: inline-block;
              width: 90%;
              float: left;
              font-size: 33px;
              font-weight:bold
             }
             .phone .ck{
              float: left;
             }
             .phone .ck a{
              color: #424242;
             }
             .phone2 img,
             .phone2 li,
             .jd2 img,
             .jd2 ul .li1,
             .jd2 li,
             .tj2 dd,
             .rpcp dd,
             .nr dt,.nr dd,
             .video dd,
             {
                  transition: all .2s linear;
             }
                .sj:hover{
                 box-shadow: 0 15px 30px rgba(0,0,0,0.1);
                  transform: translate3d(0, -2px, 0);
              }
              .phone2 li{
                width: 234px;
                height: 300px;
                background: #FFF;
                margin-left: 14px;
                margin-bottom: 14px;
                position: relative;
              }
              .phone2 .sj,.phone2 li{
                float: left;
              }
              .phone2 ul img{
                width: 120px;
                height: 140px;
                margin-top: 30px;
              }
              .phone2 ul .p1{
                color: #333 ;
                font-size: 10px;
                line-height:22px;
                margin-top: 34px;
              }
              .phone2 ul .p3{
                color: #FF7821;
              }
              .phone2 ul .p2,.phone2 ul .p3, .phone2 li span{
                cursor:text;
              }
              .phone2 ul .p3{
                line-height: 14px;
              }
              .phone2 li span{
                width: 64px;
                height: 20px;
                background: red;
                line-height: 20px;
                color: #fff;
                margin-left: -50%;
              }
              .phone2 li div{
                position: absolute;
                top: 0;
                left: 50%;
              }
              .content3{
                width: 100%;
                height: 120px;
              float: left;
              background: #FE4B6B;
               position: relative;
               color: #FFF;
              }
               .content3 div{
                position: absolute;
                left: 249px;

               }
               .content3 .p1{
              line-height: 40px;
              font-weight: bold;
              font-size: 28px;
              margin-top: 34px;
               }
               .content3 img{
                position: absolute;
                bottom: 6px;
              right: 394px;
               }
               .content3 .p2{
              font-size: 14px;
             }
             .jd1{
              height: 820px;
              position: relative;
             }
             .jd1 h2{
              width: 70%;
              float: left;
              position: absolute;
              bottom: -30px;
              font-size: 33px;
              font-weight:bold
             }
             .jd1 ul{
              float: right;
              margin-top: 40px;
             }
             .jd1 li{
              margin-left: 30px;
              color: #333;
              font-size: 16px;
              line-height: 30px;
             }
             .jd2{
              width: 100%;
              height: 628px;
             }
             .jd2 img,.jd2 li{
              width: 234px;
              height: 300px;
             }
             .jd2 ul{
              width: 990px;
              float: left;
              margin-left: 2px;
             }
             .jd2 img,.jd2 li{
              display: block;
              float: left;
              margin-top: 14px;
            }
             .jd2 li{
              background: #fff;
              margin-left: 13px;
              position: relative;
             }
             .jd2 ul .li8,.jd2 ul .li9{
              width: 234px;
              height: 143px;
             }
             .jd2 .jd2-1{
              margin-top: 30px;
             }
             .jd2 .jd2-1{
              width: 234px;
               float: left;
             }
             .jd2 li img{
              width: 150px;
              height: 150px;
             }
             .jd2 .li8 img{
              width: 80px;
              height: 80px;
             }
             .jd2 li div{
              width: 150px;
              height: 150px;
              margin: 0 auto;
             }
              .jd2 ul h3 {
              font-size: 12px;
              line-height: 12px;
              color: #333;
             }
             .jd2 ul strong{
              color: #FF6C00;
             }
             .jd2 ul .xp,.jd2 ul .mj{
              width: 64px;
              height: 20px;
              color: #fff;
              line-height: 20px;
              text-align: center;
              position: absolute;
              top: 0;
              left: 84px;
             }
             .jd2 ul .xp{
              background: #83C44E;
             }
             .jd2 ul .mj{
              background:#E53935 ;
             }
             .jd2 .li8 img{
              position: absolute;
              right: 6px;
              top: 20px;
             }
             .jd2 .li8 h3{
              margin-top: 52px;
              margin-right: 30px;
             }
             .jd2 .li8 strong{
              margin-right: 30px;
             }
             .jd2 .li9 i{
              color: #FF6700;
              font-size: 48px;
              position: absolute;
              right: 24px;
              top: 48px;
             }
             .jd2 .li9 h3{
              font-size: 18px;
             }
             .jd2 .li9 div{
              position: absolute;
              left: 12px;
              top: 32px;
             }
              .content4{
                width: 100%;
                height: 120px;
              float: left;
              background:#DBF3E5;
               position: relative;
               color: #333;
               margin: 40px 0;
              }
               .content4 div{
                position: absolute;
                left: 249px;

               }
               .content4 .p1{
              line-height: 40px;
              font-weight: bold;
              font-size: 28px;
              margin-top: 34px;
               }
               .content4 img{
                position: absolute;
                bottom: 0;
              right: 394px;
               }
               .content4 .p2{
              font-size: 14px;
             }
              .zn1{
               position: relative;
              }
              .zn1 h2{
               width: 70%;
               float: left;
               position: absolute;
               bottom: -300px;
               font-size: 33px;
               font-weight:bold
              }
              .zn1 ul{
               float: right;
               margin-top: 40px;
              }
              .zn1 li{
               margin-left: 30px;
               color: #333;
               font-size: 16px;
               line-height: 30px;
              }
              .zn2{
               width: 100%;
               height: 628px;
              }
              .zn2 img,.zn2 li{
               width: 234px;
               height: 300px;
              }
              .zn2 ul{
               width: 990px;
               float: left;
               margin-left: 2px;
              }
              .zn2 img,.zn2 li{
               display: block;
               float: left;
               margin-top: 14px;
             }
              .zn2 li{
               background: #fff;
               margin-left: 13px;
               position: relative;
              }
              .zn2 ul .li8,.zn2 ul .li9{
               width: 234px;
               height: 143px;
              }
              .zn2 .zn2-1{
               margin-top: 68px;
              }
              .zn2 .zn2-1{
               width: 234px;
                float: left;
              }
              .zn2 li img{
               width: 150px;
               height: 150px;
              }
              .zn2 .li8 img{
               width: 80px;
               height: 80px;
              }
              .zn2 li div{
               width: 150px;
               height: 150px;
               margin: 0 auto;
              }
               .zn2 ul h3 {
               font-size: 12px;
               line-height: 12px;
               color: #333;
              }
              .zn2 ul strong{
               color: #FF6C00;
              }
              .zn2 ul .xp,.zn2 ul .mj{
               width: 64px;
               height: 20px;
               color: #fff;
               line-height: 20px;
               text-align: center;
               position: absolute;
               top: 0;
               left: 84px;
              }
              .zn2 ul .xp{
               background: #83C44E;
              }
              .zn2 ul .mj{
               background:#E53935 ;
              }
              .zn2 .li8 img{
               position: absolute;
               right: 6px;
               top: 20px;
              }
              .zn2 .li8 h3{
               margin-top: 52px;
               margin-right: 30px;
              }
              .zn .li8 strong{
               margin-right: 30px;
             }
              .zn2 .li9 i{
               color: #FF6700;
               font-size: 48px;
               position: absolute;
               right: 24px;
               top: 48px;
              }
              .zn2 .li9 h3{
               font-size: 18px;
              }
              .zn2 .li9 div{
               position: absolute;
               left: 12px;
               top: 32px;
              }
               .content5{
                 width: 100%;
                 height: 120px;
               float: left;
               background: #E8E9ED;
                position: relative;
                color: #333;
                margin: 42px 0 40px 0;
               }
                .content5 div{
                 position: absolute;
                 left: 249px;

                }
                .content5 .p1{
               line-height: 40px;
               font-weight: bold;
               font-size: 28px;
               margin-top: 34px;
                }
                .content5 img{
                 position: absolute;
                 bottom: 0;
               right: 394px;
                }
                .content5 .p2{
               font-size: 14px;
              }
                .dp1{
              height: 544px;
              position: relative;
             }
             .dp1 h2{
              width: 70%;
              float: left;
              position: absolute;
              bottom: -30px;
              font-size: 33px;
              font-weight:bold
             }
             .dp1 ul{
              float: right;
              margin-top: 40px;
             }
             .dp1 li{
              margin-left: 30px;
              color: #333;
              font-size: 16px;
              line-height: 30px;
             }
             .dp2{
              width: 100%;
              height: 628px;
             }
             .dp2 img,.dp2 li{
              width: 234px;
              height: 300px;
             }
             .dp2 ul{
              width: 990px;
              float: left;
              margin-left: 2px;
             }
             .dp2 img,.dp2 li{
              display: block;
              float: left;
              margin-top: 14px;
            }
             .dp2 li{
              background: #fff;
              margin-left: 13px;
              position: relative;
             }
             .dp2 ul .li8,.dp2 ul .li9{
              width: 234px;
              height: 143px;
             }
             .dp2 .dp2-1{
              margin-top: 30px;
             }
             .dp2 .dp2-1{
              width: 234px;
               float: left;
             }
             .dp2 li img{
              width: 150px;
              height: 150px;
             }
             .dp2 .li8 img{
              width: 80px;
              height: 80px;
             }
             .dp2 li div{
              width: 150px;
              height: 150px;
              margin: 0 auto;
             }
              .dp2 ul h3 {
              font-size: 12px;
              line-height: 12px;
              color: #333;
             }
             .dp2 ul strong{
              color: #FF6C00;
             }
             .dp2 ul .xp,.dp2 ul .mj{
              width: 64px;
              height: 20px;
              color: #fff;
              line-height: 20px;
              text-align: center;
              position: absolute;
              top: 0;
              left: 84px;
             }
             .dp2 ul .xp{
              background: #83C44E;
             }
             .dp2 ul .mj{
              background:#E53935 ;
             }
             .dp2 .li8 img{
              position: absolute;
              right: 6px;
              top: 20px;
             }
             .dp2 .li8 b{

             }
             .dp2 .li9 i{
              color: #FF6700;
              font-size: 48px;
              position: absolute;
              right: 24px;
              top: 48px;
             }
             .dp2 .li9 h3{
              font-size: 18px;
             }
             .dp2 .li9 div{
              position: absolute;
              left: 12px;
              top: 32px;
             }
              .content6{
                width: 100%;
                height: 120px;
              float: left;
              background: #FAECEB;
               position: relative;
               color: #333;
                margin: 42px 0 40px 0;
              }
               .content6 div{
                position: absolute;
                left: 249px;

               }
               .content6 .p1{
              line-height: 40px;
              font-weight: bold;
              font-size: 28px;
              margin-top: 34px;
               }
               .content6 img{
                position: absolute;
                bottom: 0;
              right: 394px;
               }
               .content6 .p2{
              font-size: 14px;
             }
              .pj1{
               height: 273px;
               position: relative;
              }
              .pj1 h2{
               width: 70%;
               float: left;
               position: absolute;
               bottom: -30px;
               font-size: 33px;
               font-weight:bold
              }
              .pj1 ul{
               float: right;
               margin-top: 40px;
              }
              .pj1 li{
               margin-left: 30px;
               color: #333;
               font-size: 16px;
               line-height: 30px;
              }
              .pj2{
               width: 100%;
               height: 628px;
              }
              .pj2 img,.pj2 li{
               width: 234px;
               height: 300px;
              }
              .pj2 ul{
               width: 990px;
               float: left;
               margin-left: 2px;
              }
              .pj2 img,.pj2 li{
               display: block;
               float: left;
               margin-top: 14px;
             }
              .pj2 li{
               background: #fff;
               margin-left: 13px;
               position: relative;
              }
              .pj2 ul .li8,.pj2 ul .li9{
               width: 234px;
               height: 143px;
              }
              .pj2 .pj2-1{
               margin-top: 30px;
              }
              .pj2 .pj2-1{
               width: 234px;
                float: left;
              }
              .pj2 li img{
               width: 150px;
               height: 150px;
              }
              .pj2 .li8 img{
               width: 80px;
               height: 80px;
              }
              .pj2 li div{
               width: 150px;
               height: 150px;
               margin: 0 auto;
              }
               .pj2 ul h3 {
               font-size: 12px;
               line-height: 12px;
               color: #333;
              }
              .pj2 ul strong{
               color: #FF6C00;
              }
              .pj2 ul .xp,.pj2 ul .mj{
               width: 64px;
               height: 20px;
               color: #fff;
               line-height: 20px;
               text-align: center;
               position: absolute;
               top: 0;
               left: 84px;
              }
              .pj2 ul .xp{
               background: #83C44E;
              }
              .pj2 ul .mj{
               background:#E53935 ;
              }
              .pj2 .li8 img{
               position: absolute;
               right: 6px;
               top: 20px;
              }
              .pj2 .li8 b{

              }
              .pj2 .li9 i{
               color: #FF6700;
               font-size: 48px;
               position: absolute;
               right: 24px;
               top: 48px;
              }
              .pj2 .li9 h3{
               font-size: 18px;
              }
              .pj2 .li9 div{
               position: absolute;
               left: 12px;
               top: 32px;
              }
               .content7{
                 width: 100%;
                 height: 120px;
               float: left;
               background: #E7EAE3;
                position: relative;
                color: #333;
                 margin: 42px 0 40px 0;
               }
                .content7 div{
                 position: absolute;
                 left: 249px;

                }
                .content7 .p1{
               line-height: 40px;
               font-weight: bold;
               font-size: 28px;
               margin-top: 34px;
                }
                .content7 img{
                 position: absolute;
                 bottom: 6px;
               right: 394px;
                }
                .content7 .p2{
               font-size: 14px;
              }
               .zb1{
                height: 273px;
                position: relative;
               }
               .zb1 h2{
                width: 70%;
                float: left;
                position: absolute;
                bottom: -30px;
                font-size: 33px;
                font-weight:bold
               }
               .zb1 ul{
                float: right;
                margin-top: 40px;
               }
               .zb1 li{
                margin-left: 30px;
                color: #333;
                font-size: 16px;
                line-height: 30px;
               }
               .zb2{
                width: 100%;
                height: 628px;
               }
               .zb2 img,.zb2 li{
                width: 234px;
                height: 300px;
               }
               .zb2 ul{
                width: 990px;
                float: left;
                margin-left: 2px;
               }
               .zb2 img,.zb2 li{
                display: block;
                float: left;
                margin-top: 14px;
              }
               .zb2 li{
                background: #fff;
                margin-left: 13px;
                position: relative;
               }
               .zb2 ul .li8,.zb2 ul .li9{
                width: 234px;
                height: 143px;
               }
               .zb2 .zb2-1{
                margin-top: 30px;
               }
               .zb2 .zb2-1{
                width: 234px;
                 float: left;
               }
               .zb2 li img{
                width: 150px;
                height: 150px;
               }
               .zb2 .li8 img{
                width: 80px;
                height: 80px;
               }
               .zb2 li div{
                width: 150px;
                height: 150px;
                margin: 0 auto;
               }
                .zb2 ul h3 {
                font-size: 12px;
                line-height: 12px;
                color: #333;
               }
               .zb2 ul strong{
                color: #FF6C00;
               }
               .zb2 ul .xp,.zb2 ul .mj{
                width: 64px;
                height: 20px;
                color: #fff;
                line-height: 20px;
                text-align: center;
                position: absolute;
                top: 0;
                left: 84px;
               }
               .zb2 ul .xp{
                background: #83C44E;
               }
               .zb2 ul .mj{
                background:#E53935 ;
               }
               .zb2 .li8 img{
                position: absolute;
                right: 6px;
                top: 20px;
               }
               .zb2 .li8 b{

               }
               .zb2 .li9 i{
                color: #FF6700;
                font-size: 48px;
                position: absolute;
                right: 24px;
                top: 48px;
               }
               .zb2 .li9 h3{
                font-size: 18px;
               }
               .zb2 .li9 div{
                position: absolute;
                left: 12px;
                top: 32px;
               }
               .content8 img{
                 width: 100%;
                 height: 120px;
                 margin: 0 auto;
                 margin: 42px 0 40px 0;
               }

           .tj1{
            height: 46px;
           }
            .tj2{
            height: 338px;
           }
           .tj1 h2{
            float: left;
            font-size: 33px;
            font-weight:bold
           }
           .tj1 p{
            float: right;
            margin-top: 6px;
           }
           .tj1 p span{
            border: 1px solid #CCC;
            padding:5px 14px ;
           }
           .tj2 .dd1{
            margin: 0;
           }
           .tj2 dd{
            width: 234px;
            height: 339px;
            text-align: center;
            background:#FAFAFA;
            float: left;
            margin-left: 14px;
           }
           .tj2-1{
            font-size: 16px;
            color: #EF3A3B ;
            margin-top: 62px;
           }
           .tj2-2{
            font-weight: normal;
            font-size: 14px;
            margin-bottom: 33px;
           }
           .tj2-3 {
            height: 40px;
            width: 180px;
            margin: 0 auto;
           }
           .tj2-3 span{
            font-size: 18px;
            text-align: center;
           }
           .tj2-3 .time{
            width: 46px;
            height: 46px;
            background: #605751;
            line-height: 46px;
           }
           .tj2-3 .point{
            margin: 0 6px;
           }
           .tj2 a{
            color: #333;
           }
           .tj2 dd strong{
            display: inline-block;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 10px;
           }
            .tj2 dd img{
              margin-bottom: 30px;
              margin-top: 46px;
            }
             .tj2 dd .ddd {
              color: #FF6700;
              margin-top: 8px;
             }
             .tj2 dd nav p{
              color: #B0B0B7;
              margin-top: 6px ;
             }
             .rpcp{
              width: 100%;
              height: 455px;
              margin-top: 40px;
             }
             .rpcp dt{
              width: 100%;
              font-size: 33px;
              margin-bottom: 20px;
             }
             .rpcp dd{
              width: 296px;
              height: 413px;
              float: left;
              margin-left: 14px;
              background: #FFF;
             }
              .rpcp .dd1{
               margin: 0;
              }
              .rpcp dd img{
                width:100%;
                height: 220px;
              }
              .rpcp dd .p1{
                font-size: 12px;
                line-height: 24px;
                color: #333;
                padding: 32px 30px;
                margin: 0;
              }
              .rpcp dd p{
                margin-left: 30px;
              }
              .rpcp dd .p2{
                font-size: 12px;
                color: #B0B1B5;
              }
              .rpcp dd div{
                margin-top: 14px;
              }
              .rpcp dd div p,.rpcp dd div span{
                display: inline-block;
                float: left;
              }
              .rpcp dd div .p2{
                margin: 0 12px;
              }
              .rpcp dd div span{
                line-height: 20px ;
                color: #FF6700;
              }
              .rpcp dd div p{
                color: #333;
              }
              .nr{
                width: 100%;
                height: 462px;
                margin-top: 40px;
              }
              .nr dt{
               width: 100%;
               font-size: 33px;
               margin-bottom: 20px;
              }
              .nr dd{
                width: 296px;
                height: 420px;
                background: #fff;
                float: left;
                margin-left: 14px;
                text-align: center;
              }
              .nr .dd1{
                margin: 0;
                border-top: 1px solid  #FF6700;
              }
              .nr .dd1 .p1{
                font-size: 16px;
                margin-top: 48px;
                margin-bottom: 25px;
                color:#FF6700 ;
              }
              .nr .dd1 h3{
                font-size: 20px;
                color: #000000;
              }
              .nr .dd1 .p2{
                font-size: 12px;
                line-height: 20px;
                color: #B2B2B0;
                margin-bottom: 20px;
              }
              .nr .dd1 img{
                margin-top: 28px;
              }
              .nr .dd2{
                border-top: 1px solid  #83C44E;
              }
              .nr .dd2 .p1{
                font-size: 16px;
                margin-top: 48px;
                margin-bottom: 25px;
                color:#83C44E  ;
              }
              .nr .dd2 h3{
                font-size: 20px;
                color: #000000;
              }
              .nr .dd2 .p2{
                font-size: 12px;
                line-height: 20px;
                color: #B2B2B0;
                margin-bottom: 20px;
              }
              .nr .dd2 img{
                margin-top: 28px;
              }
              .nr .dd3{
                border-top: 1px solid  #E53935;
              }
              .nr .dd3 .p1{
                font-size: 16px;
                margin-top: 48px;
                margin-bottom: 25px;
                color:#E53935 ;
              }
              .nr .dd3 h3{
                font-size: 20px;
                color: #000000;
              }
              .nr .dd3 .p2{
                font-size: 12px;
                line-height: 20px;
                color: #B2B2B0;
                margin-bottom: 20px;
              }
              .nr .dd3 img{
                margin-top: 28px;
              }
                            .nr .dd4{
                border-top: 1px solid  #4AA9F5;
              }
              .nr .dd4 .p1{
                font-size: 16px;
                margin-top: 48px;
                margin-bottom: 25px;
                color:#4AA9F5 ;
              }
              .nr .dd4 h3{
                font-size: 20px;
                color: #000000;
              }
              .nr .dd4 .p2{
                font-size: 12px;
                line-height: 20px;
                color: #B2B2B0;
                margin-bottom: 20px;
              }
              .nr .dd4 img{
                margin-top: 28px;
              }
              .video {
                width: 100%;
                height: 325px;
                margin-top: 40px;
              }
              .video dt{
                display: inline-block;
              }
              .video .dt1{
                font-size: 33px;
              }
              .video .dt2{
                font-size: 18px;
                float: right;
              }
              .video .dt2 i{
                color: #B0B0B0;
              }
              .video dd{
                width: 296px;
                height: 285px;
                background: #fff;
                float: left;
                margin-left: 14px;
                margin-top: 20px;
              }
              .video .dd1{
                margin-left: 0;
              }
              .video img{
                width: 100%;
                height: 180px;
              }
              .video dd .p1{
                font-size: 12px;
                text-align: center;
                margin-top: 32px;
                margin-bottom: 14px;
              }
              .video dd .p2{
                font-size: 10px;
                color: #B0B0B0;
                text-align: center;
              }
              #footer .footer{
                width: 100%;
                height: 272px;
                background: #fff;
              }
              .footer1{
                width: 1226px;
                margin: 0 auto;
                margin-top: 58px;
                margin-bottom: 30px;
              }
              .bottom{
                width: 1226px;
                margin: 0 auto;
              }
              .footer1 img{
                margin-right: 10px;
              }
               .footer1 li{
                font-size: 12px;
                color: #333;
               }
               .footer1 span{
                margin-left: 56px;
                margin-right: 62px;
               }
               .footer1 .li1{
                margin-left: 58px;
               }
               .footer1  div{
                width: 100%;
                height: 66px;
                border-bottom: 1px solid #E0E0E0;
               }
               .footer1 dl{
                float: left;
                margin-right: 104px;
               }
               .footer1 dt{
                font-size: 12px;
                line-height: 45px;
               }
               .footer1 dd{
                font-size: 11px;
                line-height: 28px;
                color: #798082;
               }
               .footer1 nav{
                text-align: center;
                margin-top: 16px;
                height: 112px;
                border-left: 1px solid #E0E0E0;
                display: inline-block;
              padding-left: 90px;
              margin-left: 9px;
               }
               .footer1 .lxdh{
                color: #FF6700;
                font-size: 16px;
                line-height: 38px;
                font-weight:bold
               }
               .footer1 nav p{
                font-size: 12px;
                line-height: 20px;
               }
               .footer1 nav a{
                width: 118px;
                height: 28px;
                color: #FF6700;
                font-size: 12px;
                border: 2px solid;
                padding: 6px 0;
                text-align: center;
                margin-top: 10px;
               }
               .bottom{
                position: relative;
               }
               .bottom1{
                height: 55px;
                margin-top: 30px;
               }
               .bottom1 img{
                margin-right: 8px;
               }
               .bottom1 img, .bottom1 ul,.bottom1 p{
                float: left;
               }
               .bottom1 ul{
                margin-top: 3px;

               }
               .bottom1 li,.bottom1 span,.bottom1 p{
                line-height: 12px;
               }
                .bottom1 .p1{
                  margin: 6px 0;
                }
                .bottom2{
                  position: absolute;
                  top: 14px;
                  right: 0;
                }
                .bottom2 img,.bottom2 p{
                  float: left;
                }
                .bottom2 li{
                  width: 85px;
                  height: 30px;
                }
                 .bottom2 p{
                  line-height: 16px;
                 }
                  .bottom2 img{
                    margin-top: 5px;
                  }
                  .xmwfses{
                    font-size: 20px;
                    font-family: ????κ;
                    text-align: center;
                    margin: 40px 0;
                  }
                  .right-use{
                   width: 84px;
                   height: 355px;
                   position: fixed;
                   right:0;
                   top: 417px;
                  }
                  .right-use li{
                    width: 82px;
                    height: 90px;
                    border: 1px solid  #F5F5F5;
                    margin-left: -1px;
                    float: left;
                    background: #fff;
                  }
                   .right-use img{
                    width: 82px;
                   }
                    .gwc{
                    width: 300px;
                    height: 0;
                    display: none;
                    background: #fff;
                    box-shadow:0 2px 10px rgba(0,0,0,0.15);
                    top: 40px;
                    right: 0px;
                    text-align: center;
                    line-height: 100px;
                    z-index: 99;
                   }
                  .act1{
                    height: 460px;
                    background: #fff;
                    left: 234px;
                    top:0px;
                    display: none;
                  }
                  .act div li{
                    width: 200px !important;
                    height: 76px !important;
                    padding-left: 0 !important;
                  }
                  .act div li a{
                     color: #000 !important;
                  }
                  .act div li img{
                    width: 40px;
                    height: 40px;
                    margin-right: 14px;
                  }
                  .act div ul{
                    width: 200px;
                    height: 100%;
                    margin-top: 20px;
                    margin-left: 20px;
                    display: inline-block;
                  }
                  .kuan1{
                    width: 992px;
                  }
                  .kuan2{
                    width: 890px;
                  }
                  .act li a:hover{
                    color: #FF6700 !important;
                  }
                    .navact{
                    width: 1920px;
                    height: 300px;
                    background:#fff;
                    z-index: 2;
                    left: 0;
                    top: 141px;
                    display: none;
                  }